body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 60px;
  background-color:#274156;
}

h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}
.post h2{
  color: black;
}
.create h2{
  color: black;
}
.post-form, .post {
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.create {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #C6D8D3;
}
.edit{
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  padding: 15px;
  background-color: #C6D8D3;
}
.post-form input, .post-form textarea {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}

button {
  padding: 10px 15px;
  margin-top: 10px;
  cursor: pointer;
}

.posts .post {
  background-color: #C6D8D3;
}
